<div class="col-12">
    <div class="text-left p-2 "></div>
    {% for flashMessage in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            <i class="fa fa-clipboard-check" style="color: white;font-size: 30px;"></i> &nbsp; {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-ban" style="color: white;font-size: 30px;"></i> &nbsp; {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="text-left p-2 "></div>
</div>