/docker
/assets/node_modules/
docker-compose.override.yml
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/
/public/dist/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunitaccordion__heading
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

.idea/
composer.lock
