<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .bg-1 {background-color: #0A7B0E;color: #ffffff;}
        .bg-2 {background-color: #fff;color: #000;}
        .bg-3 {background-color: #ffffff;color: #555555;}
        .container-fluid {padding-top: 0px;padding-bottom: 0px;}
        .img-icon{width: 100px;padding-top: 7px;}
        .border-nop{ border: none;text-align: left;}
        .sizefooter{padding: 15px;text-align:center;}
        .red{color:red; font-weight:bold;}
        .text-center{text-align:center;}
        .text-left{text-align:left;}
        .text-right{text-align:right;}
        .btnconfig{ background-color: #0A7B0E;color: white;padding: 15px 32px; text-align: center;text-decoration: none;display: inline-block;font-size: 16px;
            margin: .375rem;
            border: 0;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        }
    </style>
</head>
<body>
<div class="bg-2 text-center sizefooter" style="border-bottom:5px #0a6704 solid;">
    <div style="text-align: center;">
        <img src="https://symfony.com/logos/symfony_black_03.png" class="img-icon" >
    </div>
</div>
<div class="container-fluid bg-3 text-left" style="text-align:center;">
    <p>Name: {{ name }}</p>
    <p>Email: {{ email }}</p>
    <p>Description:  {{ description }} </p>
    <hr>
</div>
<div class="bg-1 sizefooter">
    <p><a href="https://www.site.fr/" style="font-size: 15px;color: black;" target="_blank" data-saferedirecturl="https://www.site.fr/">https://www.<wbr>site.fr/</a></p>
    <p style="font-size: 13px;">
</div>
</body>
</html>