[mysqldump]
quick

[mysqld]
innodb_log_file_size = 256M
sql_mode = ""

[server]
character_set_server            = utf8mb4
collation_server                = utf8mb4_unicode_ci
join_buffer_size                = 2M
key_buffer_size                 = 256M
interactive_timeout             = 300
default-storage-engine          = MyISAM
low-priority-updates            = 1
max_allowed_packet              = 64M
max_connections                 = 512
myisam_max_sort_file_size       = 10G
myisam_sort_buffer_size         = 512M
read_buffer_size                = 2M
read_rnd_buffer_size            = 4M
skip-external-locking
skip-name-resolve
sort_buffer_size                = 8M
query_cache_limit               = 2M
query_cache_type                = 2
query_cache_size                = 128M
tmp_table_size                  = 64M
tmp_table_size                  = 64M
wait_timeout                    = 120
