{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card card-header">
                        <h1>EasyAmin V3 / Symfony 5 ✅</h1>
                        <a href="{{ path('admin_login') }}" class="btn btn-success btn-sm mt-3 white">
                            Administration EA 3
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6"> </div>
        </div>
    </div>
{% endblock %}
