{% extends 'base.html.twig' %}

{% block title %}DEVSPROF{% endblock %}

{% block stylesheets %}{% endblock %}

{% block navbar %}
    <!-- Main navigation -->
    {% include('composant/navbar.html.twig') %}
{% endblock %}

{% block body %}
    <!-- Body -->
    <section class="text-center my-5">
        <img src="https://i1.wp.com/www.ecommerce-nation.com/wp-content/uploads/2018/10/404-error.jpg?fit=800%2C600&ssl=1" class="img-fluid">
    </section>
{% endblock %}